#body{ background:#FFFFFF url(../images/main-body-bc.jpg) repeat-y}
#body .dqwz{ background:url(../images/right-title.jpg) no-repeat; height:26px; font-size:12px; line-height:26px; text-indent:60px; color:#000000}
#body .text{ padding:20px 40px 10px 40px;}

#body .text .title{ padding:10px 0 10px 0; text-align:center; font-size:16px; font-weight:bold}
#body .text .disp{ line-height:28px; width:730px; margin:0 auto; background:#F9F1DE; font-size:12px; text-indent:22px;}
#body .text p{ line-height:1.8; text-indent:24px;}

#body .list-box{ width:732px; margin:0 auto; margin-top:20px; background:url(../images/list-title.jpg) no-repeat; padding-top:31px;}
#body .list-box ul{list-style:none}
#body .list-box ul li{ line-height:30px; font-size:12px; text-indent:14px; background:#F7F3E8}
#body .list-box ul li.even{ background:#FFFFFF}
#body .list-box ul li span{ color:#AF9605; width:80px; padding-left:10px;}

#body .pages_pages { width:600px; margin:0 auto; margin-top:20px; text-align:center;}
#body .pages_pages a.pre{ display:block; background:url(../images/turn-left.jpg) left 8px  no-repeat; line-height:24px; width:80px; color:#E2A224}
#body .pages_pages a.next{ display:block; background:url(../images/turn-right.jpg) right 8px  no-repeat; line-height:24px; width:80px; color:#E2A224}
#body .pages_pages .list-page a{ padding:2px;}
#body .pages_pages .list-page span{ padding:2px; color:#FF0000}


.list-box-style-2{ width:691px ; margin:0 auto; margin-top:20px;}

.list-box-style-2 .list-box-style-2-title{ background:url(../images/list-style-2.jpg) no-repeat; height:22px; line-height:22px; text-indent:28px; font-family:'黑体';}
.list-box-style-2 .table_box .list-top{ background:url(../images/list-style-2-top.jpg) no-repeat; height:12px; width:691px; margin-top:10px;}
.list-box-style-2 .table_box .list-boby{ background:url(../images/list-style-2-bc.jpg) repeat-y;}
.list-box-style-2 .table_box .list-boby table{ width:675px; margin:0 auto; }
.list-box-style-2 .table_box .list-boby table td{ padding-left:20px; line-height:24px;}
.list-box-style-2 .table_box .list-boby table tr{ background:#F8F6F7}
.list-box-style-2 .table_box .list-boby table tr.even{ background:#FFFFFF}
.list-box-style-2 .table_box .list-bot{ background:url(../images/list-style-2-bot.jpg) no-repeat; height:14px;}


.list-box-style-3{ width:718px; margin:0 auto; margin-top:20px;}

.list-box-style-3 .list-box-style-3-title{ background:url(../images/list-style-3.jpg) no-repeat;  height:22px; line-height:22px; text-indent:28px; font-family:'黑体'; color:#AE4E02}
.list-box-style-3 .table_box .list-top{ background:url(../images/list-style-3-top.jpg) no-repeat; height:15px;}
.list-box-style-3 .table_box .list-boby{ background:url(../images/list-style-3-body.jpg) repeat-y; padding:0 15px 0 15px}
.list-box-style-3 .table_box .list-boby .body-title{ background:#FEF3D7 url(../images/list-style-3-p-title.jpg) left no-repeat; display:block;  height:22px; line-height:22px; text-indent:14px; font-family:'黑体'; color:#AE4E02; margin:10px 0 10px 0;}

.list-box-style-3 .table_box .list-boby .more{ padding:10px 10px 10px 0;}
.list-box-style-3 .table_box .list-boby .more a{ background:url(../images/list-style-3-button.jpg) no-repeat; width:84px; height:22px; float:right;}
.list-box-style-3 .table_box .list-boby .bak{ padding:10px 10px 10px 0;}
.list-box-style-3 .table_box .list-boby .bak a{ background:url(../images/list-style-3-bak.jpg) no-repeat; width:84px; height:22px; float:right;}
.list-box-style-3 .table_box .list-bot{ background:url(../images/list-style-3-bot.jpg) no-repeat; height:14px;}


























.list-images{ width:758px;}
.list-images li{ width:210px; margin-right:40px; margin-top:20px; float:left}
.list-images li .images-wrap{ width:194px; height:133px; background:url(../images/images_bc.jpg) no-repeat; padding:6px 0 0 8px;}
