#frame-main-spliter
{
    width: 700px;
    height: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #c1b5c2;
    border-bottom-width: 1px;
    margin: 15px auto;
}

#frame-top-navbar
{
    margin-bottom: 20px;
}
#frame-top
{
    height: 190px;
    padding-bottom: 30px;
}

#frame-main-body
{
    margin-top: 0px;
}

#frame-main
{
    width: 700px;
    margin-left: 40px;
}

#frame-side
{
    width: 221px;
    min-height: 400px;
    float: left;
    background-image: none;
}

#frame-main-breadcrumbs
{
    position: absolute;
    margin-top: -40px;
}
