body
{
    background-image: url('body-bg.png');
    background-position: top center;
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family:"宋体",Verdana, Lucida, Arial, Helvetica;
    font-size: 14px;
    color: #2e2e2e;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: justify;
    text-justify:inter-ideograph;
}
.img
{
    background-color:white;
    border:1px solid #c1b5c2;
    padding:2px;
}
strong
{
    font-style:normal;
    font-weight:bold;
}
.yui3-g
{
    letter-spacing:normal;
    word-spacing:normal;
}
.size12
{
    font-size: 12px;
}

.size14
{
    font-size: 14px;
}

.size26
{
    font-size: 20px;
}

.size9
{
    font-size: 9px;
}

a
{
      color:#308ddc;
    text-decoration: none;
}

    a:visited
    {
        color:#2e2e2e;
    }

    a:hover
    {
      
        color:#2e2e2e;
    }

#frame-top
{
    width: 100%;
    height: 458px;
    min-width: 980px;
    background-image: url('top-bg1.png');
    background-repeat: no-repeat;
    background-position: top center;
}


    #frame-top:after
    {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }

#frame-top-warpper
{
       
    width: 980px;

    margin:auto;
}

#frame-top-logo
{
    width: 980px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: top left;
    color: #7cb4e2;
    font-weight: bold;

}

#frame-top-logo table
{
    height:98px;
}
#frame-top-logo table span
{
    line-height:98px;
}


#frame-top-logo span
{
    float:none;
    text-align:center;
    vertical-align:middle;
    color: #308ddc;
}

#frame-top-logo img
{
   float:left;
   margin-left:25px;
   behavior: url("iepngfix.htc")
}

#search_input
{
    width: 314px;
    height: 32px;
    line-height: 32px;
    border-style: none;
    background-color: transparent;
    background-image: url('search-bg.png');
    background-repeat: no-repeat;
    text-indent: 10px;
    color: #7d7d7d;
    font-size: 13px;
}

#frame-top-navbar
{
    margin-top: 0px;
    float:left;
}

#frame-main-body
{
    width: 980px;
    margin:auto;
    _margin-top:-90px;
}

    #frame-main-body:after
    {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }

#frame-main-wrapper
{
    height: 100%;
    width: 100%;
}

    #frame-main-wrapper:after
    {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }

#frame-main
{
    width: 759px;
    float: left;
}

/*frame-side*/
#frame-side
{
    width: 221px;
    height: 321px;
    float: right;
    background-image: url('side-bg.png');
    background-repeat: no-repeat;
    background-position: top right;
    behavior: url("iepngfix.htc");
    zoom:1;
}

#frame-side:after
{
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: auto;
}
