       
    .nav_menu_header 
    {

        height: 7px;
           
        border: 1px solid #0f55b6;
       /* width: 220px;*/
        z-index: 2;
            
    }
        .nav_menu_header_Name
        {
            margin-top:10px;
            font-size:20px;
            color:#0f55b6;
            line-height:25px;
           text-indent:25px;
           font-weight:900;
        }
    .nav_menu_header_warpper {
        /*width: 218px;*/
        height: 5px;
        border: 1px solid #3f8cd0;
        background-image: url("nav_header_bg.png");
        background-position: top left;
        background-repeat: repeat-x;
        z-index: 1;   
        overflow:hidden; 
    }
        
    .nav_left
    {
        width: 220px;
            
        background-color: #e1e4e6; 
        border: 1px solid #d0d0d0;

    }
        
            .display
        {
            display:none;
        }
        
    
    .nav_left li
    {
        font-size: 13px;   
        line-height: 40px;
        text-indent: 20px;
        background-image: url("sp.png");
        background-position: bottom center;
        background-repeat: no-repeat;
        width:inherit;
        overflow:hidden;      
    }
        
    .nav_left li.first {
        line-height: 40px;
    }
        
    .nav_left li.last {
        background-image: none;
    }
        
    .nav_left li a.parent , .nav_left li a.parent:hover{
        background-image: url("arrow1.png");
        background-position:80% center;
        background-repeat: no-repeat;
    }
        
    .nav_left li.selected a.parent ,.nav_left li.selected a.parent:hover{
        background-image: url("arrow2.png");
        background-position:80% center;
        background-repeat: no-repeat;
    }
        
    .nav_left li a, .nav_left li a:visited
    {
        color: #454545;
        text-decoration: none;            
        display: block;
        height: 38px; 
    }

        
    .nav_left li a:hover
    {
        background: #308ddc;
        color: white;
        border: 1px solid #0f55b6;
    }
        
        
        
    .nav_left ul
    {
        display: none;  
        background-color: #f6f7f8;
    }
        
    .nav_left ul li a, .nav_left ul li a:visited
    {
        color: #004798;
    }
        
    .nav_left ul li ul
    {
        display: none;  
        background-color: white;
    }
        
    .nav_left ul li ul li a,.nav_left ul li ul li a:visited
    {
        font-size: 13px;
        font-weight: normal;
        color: #004798;
        text-indent:45px;
    }
        
    /*.nav_left ul li
    {
        padding: 0;
            
    }
        
    .nav_left ul li a:hover
    {
        background: #308ddc;
    }
    */

