/*
	xBreadcrumbs (Extended Breadcrumbs) jQuery Plugin
	?2009 ajaxBlender.com
	For any questions please visit www.ajaxblender.com 
	or email us at support@ajaxblender.com
*/

.xbreadcrumbs
{
    position: relative;
    z-index: 800;
}

.xbreadcrumbs li ul
{
    position: absolute;
    float: left;
}

.xbreadcrumbs, .xbreadcrumbs li, .xbreadcrumbs ul, .xbreadcrumbs ul li
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.xbreadcrumbs
{
    clear: both;
}

.xbreadcrumbs, .xbreadcrumbs li
{
    float: left;
}

.xbreadcrumbs ul
{
    display: none;
}

/*  Base style of xBreadcrumbs  */
/*  Top Level  */
.xbreadcrumbs
{
    width: 100%;
}

.xbreadcrumbs li
{
    padding: 5px;
    border-right: 1px solid #CECECE;
    height: 16px;
}

.xbreadcrumbs li.current
{
    border-right: none;
}

.xbreadcrumbs li a
{
    font-size: 13px;
    color: #666666;
    text-decoration: none;
}

.xbreadcrumbs li a:hover, .xbreadcrumbs li.hover a
{
    color: #0A8ECC;
}
/*  Top Level - Current Page  */
.xbreadcrumbs li.current a
{
    color: #333333;
    font-weight: bold;
}
/*  Sub-level  */
.xbreadcrumbs li ul
{
    padding: 3px;
    background: #333333;
    font-size: 13px;
    width: 100px;
    top: 25px;
}

.xbreadcrumbs li ul li
{
    float: left;
    width: 100%;
    border-right: none;
    height: auto;
}

.xbreadcrumbs li ul li a
{
    text-decoration: none;
    color: #CCCCCC !important;
    display: block;
    padding: 4px;
    border-bottom: 1px dotted #666666;
}

.xbreadcrumbs li ul li:last-child a
{
    border-bottom: none;
}

.xbreadcrumbs li ul li a:hover
{
    background: #444444;
}
/*  Custom styles for breadcrums (#breadcrumbs-3)  */
.xbreadcrumbs#breadcrumbs-3
{
    background: none;
}

.xbreadcrumbs#breadcrumbs LI A
{
    text-decoration: none;
}

.xbreadcrumbs#breadcrumbs LI A:HOVER, .xbreadcrumbs#breadcrumbs-3 LI.hover A
{
    text-decoration: none;
}

.xbreadcrumbs#breadcrumbs LI.current A
{
    text-decoration: none;
}

.xbreadcrumbs#breadcrumbs LI
{
    margin-right: 6px;
    border-right: none;
    background: url('separatp.gif') no-repeat right center;
    padding-right: 15px;
    text-align: center;
    line-height: normal;
}

.xbreadcrumbs#breadcrumbs LI.current
{
    background: none;
}

.xbreadcrumbs#breadcrumbs LI UL LI
{
    background: none;
    padding: 0;
}

#frame-main-breadcrumbs
{
    position: absolute;
    margin-top: -33px;
}