body {
}

.myGVClass
{
	color: #333333;
	border-color: #95BCE2;
}

.myGVClass th, .myGVClass td
{
	padding :5px;
}

.myGVAltRow
{
	background-color: #F6FAFD;
}
.myGVHead
{
	background-color: #EBF1F1;
	font-weight: bold;
	color: #666666;
}
.myGVPagerCss span
        {
             font-size: 12pt;
        }
.myGVPagerCss  a
        {
             font-size: 14pt;
            text-decoration: underline;
        }
.cssPager{   text-align:left; margin:auto;  }   
.cssPager table {  text-align:left;    margin:auto; }
.cssPager span {   font-size:24px;}     
.cssPager td  {    font-size:24px;padding:3px;}
.cssPager a { TEXT-DECORATION: underline;}
.cssRow a { TEXT-DECORATION: underline;}

   .small-long-btn
{
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	background: url(btn_bg.png) no-repeat;
	width: 80px;
	cursor: pointer;
	color: #fff;
	border-top-style: none;
	line-height: 25px;
	border-right-style: none;
	border-left-style: none;
	height: 25px;
	text-align: center;
	border-bottom-style: none;
	background-position: 0px -25px;
	text-decoration: none;
}
   
 .long-long-btn
  {
            display: inline-block;
            font-weight: bold;
            font-size: 12px;
            background: url(btn_bg.png) no-repeat;
            width: 100px;
            cursor: pointer;
            color: #fff;
            border-top-style: none;
            line-height: 25px;
            border-right-style: none;
            border-left-style: none;
            height: 25px;
            text-align: center;
            border-bottom-style: none;
            BACKGROUND-POSITION: 0px -325px;
            	text-decoration: none;
        }
        /*Modal Popup*/
        .modalBackground
        {
            background-color: Gray;
            filter: alpha(opacity=70);
            opacity: 0.7;
        }
        .modalPopup
        {
            background-color: #ffffdd;
            border-width: 3px;
            border-style: solid;
            border-color: Gray;
            padding: 3px;
            width: 450px;
        }
 
 
        .gcmccss
        {
        	display:block;           
            overflow: hidden;
            white-space: nowrap;
            word-break: keep-all;
            text-overflow: ellipsis;
        }
        
          