/*! grid system 24栅格 998px */
.container {
	width:998px;
	margin:0 auto;
}
.row {
	overflow:hidden;
}
.span24 {
	width: 998px;
	float:left;
}
.span23 {
	width: 956px;
	float:left;
}
.span22 {
	width: 914px;
	float:left;
}
.span21 {
	width: 872px;
	float:left;
}
.span20 {
	width: 830px;
	float:left;
}
.span19 {
	width: 788px;
	float:left;
}
.span18 {
	width: 746px;
	float:left;
}
.span17 {
	width: 704px;
	float:left;
}
.span16 {
	width: 662px;
	float:left;
}
.span15 {
	width: 620px;
	float:left;
}
.span14 {
	width: 578px;
	float:left;
}
.span13 {
	width: 536px;
	float:left;
}
.span12 {
	width: 494px;
	float:left;
}
.span11 {
	width: 452px;
	float:left;
}
.span10 {
	width: 410px;
	float:left;
}
.span9 {
	width: 368px;
	float:left;
}
.span8 {
	width: 326px;
	float:left;
}
.span7 {
	width: 284px;
	float:left;
}
.span6 {
	width: 242px;
	float:left;
}
.span5 {
	width: 200px;
	float:left;
}
.span4 {
	width: 158px;
	float:left;
}
.span3 {
	width: 116px;
	float:left;
}
.span2 {
	width: 74px;
	float:left;
}
.span1 {
	width: 32px;
	float:left;
}
.ml10 {
	margin-left:10px;
}
.mt10 {
	margin-top:10px;
}