/**!
 * 渝北公共资源
 * author: zhangzj;
 */


.div-item {
	border: 1px solid #dbdee1;
    border-top: 2px solid #065aad;
}
.hd {
    height: 34px;
    background-color: #f5f5f5;
}

.hd>a {
    float: left;
    padding: 0 15px;
    height: 34px;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    line-height: 34px;
    color: #fff;
    background-color: #055fb7;
    text-align: center;
}

.list-item {
    padding-left: 14px;
    height: 22px;
    font-family: "Microsoft YaHei";
    font-size: 13px;
    line-height: 22px;
    vertical-align: top;
    color: #333;
    background: url(../images/point.jpg) 0 50% no-repeat;
}

.ellipsis {
    float: left;
    width: 75%;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-date {
    float: right;
    color: #333333;
}


/* 图片轮播 */

.slider {
    position: relative;
    z-index: 1;
    width: 326px;
    height: 242px;
    overflow: hidden;
}

.conbox {
    width: 326px;
    height: 242px;
    overflow: hidden;
}

.ctag {
    position: relative;
    width: 326px;
    height: 242px;
}

.ctag img {
    width: 326px;
    height: 211px;
}

.mask {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    font-size: 14px;
    font-family: "SimSun";
    color: #333;
    font-weight: bold;
    text-align: center;
    background-color: #cccccc;
}

.mask .ellipsis {
    width: 100%;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.switcher {
    position: absolute;
    right: 0px;
    bottom: 31px;
    height: 15px;
}

.stag {
    float: left;
    border-left: 1px solid #fff;
    height: 15px;
    width: 23px;
    line-height: 15px;
    vertical-align: top;
    text-align: center;
    color: #fff;
    background: url(../images/stag-bg.png);
    cursor: pointer;
}

.stag.cur {
    background: #ea0707;
}


/* tab新闻 */

.tab-new {
    height: 239px;
    background-color: #fff;
}

.tab-new-hd {
    height: 34px;
    background-color: #f5f5f5;
}

.tab-new-hd a {
    float: left;
    width: 93px;
    height: 34px;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    line-height: 34px;
    color: #4a4a4a;
    text-align: center;
}

.tab-new-hd a.cur {
    background-color: #055fb7;
    color: #fff;
}

.tab-new-con {
    padding: 0 15px;
    padding-top: 13px;
}


/* 通知公告 */

.tzgg {
    height: 239px;
    background-color: #fff;
}


.tzgg .bd {
	padding: 10px 15px;
	padding-bottom: 0;
}

.tzgg .ellipsis {
	width: 100%;
}

/* 登陆入口 */

.admin-enter,.apply-enter {
	display: block;
	width: 242px;
	height: 50px;
}

.enter-icon {
	float: left;
	width: 47px;
	height: 50px;
}

.enter-info {
	float: left;
	width: 195px;
	height: 50px;
	background-color: #e3f1ff;
	font-family: "Microsoft YaHei";
	font-size: 17px;
	line-height: 50px;
	text-align: center;
	color: #414141;
}

.admin-enter .enter-icon {
	background: url(../images/enter-icon1.png) center no-repeat;
	background-color: #5298dc;
}

.apply-enter .enter-icon {
	background: url(../images/enter-icon2.png) center no-repeat;
	background-color: #5298dc;
}

.admin-enter:hover .enter-info,
.apply-enter:hover .enter-info {
	background-color: #d0f2de;
}


.admin-enter:hover .enter-icon,
.apply-enter:hover .enter-icon {
	background-color: #28a15b;
}

.apply-enter {
	margin-top: 4px;
}

.grb {
	display: block;
	width: 242px;
	height: 57px;
	margin-top: 17px;
}

.bgt {
	display: block;
	width: 242px;
	height: 57px;
	margin-top: 7px;
}

/* 网上服务 */

.wsfw {
	margin-top: 11px;
	height: 239px;
	background-color: #fff;
}

.wsfw .bd {
	padding: 10px 15px;
	padding-bottom: 0;
}

.wsfw-link {
	float: right;
}

.wsfw-link a {
	font-family: "Microsoft YaHei";
	font-size: 13px;
	line-height: 34px;
	color: #333;
	margin-right: 7px;
}

.wsfw .ellipsis {
	width: 100%;
}

/* 政策法规 */

.zcfg {
	height: 239px;
	background-color: #fff;
}

.zcfg .bd {
	padding: 11px;
	padding-bottom: 0;
}

.zcfg .bd a {
	display: block;
	width: 218px;
	height: 42px;
	margin-bottom: 5px;
}

/* 政务公开 */

.zwgk {
	height: 165px;
	background-color: #fff;
}

.zwgk .bd {
	padding-left: 7px;
	padding-top: 7px;
}

.zwgk .bd a {
	float: left;
	margin-bottom: 6px;
	margin-right: 6px;
}

.short-link {
	width: 110px;
	height: 35px;
}

.long-link {
	width: 226px;
	height: 35px;
}

/* 公众互动 */
.gzhd {
	height: 123px;
	background-color: #fff;
}

.gzhd .bd {
	padding: 7px;
	padding-bottom: 0;
}

.gzhd .bd a {
	display: block;
	width: 226px;
	height: 35px;
	margin-bottom: 6px;
}

/* 代理机构服务测评结果 */
.result {
	height: 176px;
	background-color: #fff;
}

.result .bd {
	padding: 10px 15px;
	padding-bottom: 0;
}

.result .ellipsis {
	width: 100%;
}

/* 中心地图 */

.map {
	height: 239px;
	background-color: #fff;
}

.map .bd {
	padding: 6px;
}

.map .bd a {
	display: block;
	width: 228px;
	height: 194px;
}


/* tab切换 */
.main-tab {
	border: 1px solid #dce0e3;
	height: 240px;
	background-color: #fff;
}

.main-tab-hd {
	height: 35px;
	background-color: #f5f5f5;
}

.main-tab-hd>a {
	float: left;
	width: 87px;
	height: 34px;
	border-top: 2px solid #0660b8;
	margin-top: -1px;
	font-family: "Microsoft YaHei";
	font-size: 15px;
	line-height: 34px;
	color: #333;
	padding-left: 44px;
	background: url(../images/main-tab-hd-bg.png) 11px 6px no-repeat;
}

.tab-link {
	float: right;
	margin-top: 5px;
}

.tab-link a {
	float: left;
	padding: 0 8px;
	height: 24px;
	font-family: "Microsoft YaHei";
	font-size: 13px;
	line-height: 24px;
	color: #333;
	text-align: center;
}

.tab-link a.cur {
	background-color: #e77818;
	color: #fff;
}

.main-tab-bd {
	padding: 10px 15px;
	padding-bottom: 0;
}

/* 下拉框 */
.select-box {
	height: 97px;
	background-color: #fff;
}

.select-box .bd {
	padding-top: 19px;
	padding-left: 36px;
}

.select-box select {
	float: left;
	width: 279px;
	height: 27px;
	border: 1px solid #cdd1d3;
	font-family: "SimSun";
	font-size: 12px;
	line-height: 27px;
	padding-left: 21px;
	margin-right: 40px;
}

#gg0{ z-index:1000;}
#gg1{ z-index:1000;}