@charset "utf-8";


.rjmain_bj { width:100%;min-height:417px; height:auto !important; height:417px; overflow:hidden !important; overflow: visible; background:url(../images/ind_main_bj.png) repeat-x;}
.rjmain { width:1000px;min-height:417px; height:auto !important; height:417px; overflow:hidden !important; overflow: visible; padding-left:115px; padding-right:115px; background:url(../images/rjmain.png) no-repeat; margin:0 auto;}


.rjm_left { width:212px;min-height:600px; height:auto !important; height:600px; overflow:hidden !important; overflow: visible; float:left;}
.rjml_left ul { width:212px; height:auto;} 
.rjml_dq { width:212px; height:67px; line-height:67px; text-align:center; padding-top:129px; padding-bottom:24px; font-size:20px; color:#ffffff;}
.rjml_nav_on a { width:200px; height:53px; display:block; padding-left:12px; line-height:53px; text-align:center; background:url(../images/subnav_on.png) no-repeat; font-size:14px; color:#014fae;}
.rjml_nav_1 a { width:200px; height:53px; display:block; padding-left:12px; line-height:53px; text-align:center; background:url(../images/subnav_1.png) no-repeat; font-size:14px; color:#333333;}
.rjml_nav_1 a:hover { width:200px; height:53px; display:block; padding-left:12px; line-height:53px; text-align:center; background:url(../images/subnav_on.png) no-repeat; font-size:14px; color:#014fae;}
.rjml_bot1 { width:212px; height:110px; display:block; background:url(../images/subnav_bj.png) repeat-y;}
.rjml_bot2 { width:212px; height:110px; display:block; background:#ffffff;}


.rjm_right { width:788px;min-height:600px; height:auto !important; height:600px; overflow:hidden !important; overflow: visible; float:right;}
.rjmr_space { width:788px; height:162px;}
.rjmr_dqwz { width:745px; height:58px; line-height:58px; padding-left:43px; font-family:"宋体"; color:#8a8a8a;}
.rjmr_dqwz a { color:#8a8a8a;}
.rjm_right ul { width:715px; padding-left:43px; padding-right:30px; background:#ffffff; min-height:400px; height:auto !important; height:400px; overflow:hidden !important; overflow: visible;}
.rjmr_lis_1 { width:715px; height:25px; line-height:25px; display:block; padding-top:20px; font-size:14px;}
.rjmr_lis_1 span { width:100px; height:25px; float:right; text-align:right; font-size:12px;}
.rjmr_lis_1 a { color:#044491;}
.rjmr_lis_1 a:hover { color:#146edb;}
.rjm_right p { width:715px; text-indent:2em; line-height:20px; color:#333333;}
.rjm_right p a { color:#044491;}
.rjm_right p a:hover { color:#146edb;}
.rjmr_lis_qh { width:715px; height:25px; line-height:25px; display:block; padding-top:20px; padding-bottom:20px; text-align:center; font-size:12px;}

.rjmr_lis_2 { width:715px; height:40px; line-height:40px; display:block; padding-top:5px; font-size:14px; border-bottom:1px dotted #b9b9b9;}
.rjmr_lis_2 span { width:100px; height:40px; float:right; text-align:right; font-size:12px; color:#666666;}
.rjmr_lis_2 a { color:#333333;}
.rjmr_lis_2 a:hover { color:#666666;}


.zhw { width:1230px;min-height:500px; height:auto !important; height:500px; overflow:hidden !important; overflow: visible;background:url(../images/content.png) no-repeat; margin:0 auto;}
.content { width:1000px ;min-height:500px; height:auto !important; height:500px; overflow:hidden !important; overflow: visible; padding-left:115px; padding-right:115px;}
.con_top { width:1000px !important; height:217px;}
.cont_l { width:212px; height:88px; padding-top:129px; float:left; line-height:91px; text-align:center; font-size:20px; color:#ffffff;}
.cont_r { width:745px; height:55px; float:right; line-height:58px; padding-top:162px; font-family:"宋体"; color:#8a8a8a;}
.cont_r a { color:#8a8a8a;}
.con_up { width:915px;min-height:500px; height:auto !important; height:500px; overflow:hidden !important; overflow: visible; background:url(../images/con_up_bj.png) no-repeat; background-color:#ffffff; padding-top:30px; padding-left:45px; padding-right:40px;}

.con_top1 { width:1000px !important; height:220px;}
.cont_l1 { width:212px; height:91px; padding-top:129px; float:left; line-height:91px; text-align:center; font-size:20px; color:#ffffff;}
.cont_r1 { width:745px; height:58px; float:right; line-height:58px; padding-top:162px; font-family:"宋体"; color:#8a8a8a;}
.cont_r1 a { color:#8a8a8a;}


.zhy_text { padding-top:15px; padding-bottom:20px; border-bottom:1px dotted #8a8a8a;}
.zhy_text p { text-indent:2em; line-height:20px;}

.zhy_lis { width:223px; height:172px; background:#edecec; float:left; margin-right:23px; margin-bottom:18px;}
.zhyb_pic { width:223px; height:122px;}
.zgyb_bt { width:213px; height:50px; padding-left:10px; line-height:45px; color:#333333; font-size:16px;}
.zgyb_bt span { width:80px; height:50px; padding-right:10px; float:right; text-align:right; font-size:12px; font-family:"宋体";}
.zgyb_bt span a { color:#777777;}


.two_link_1 { width:170px; height:30px; float:left; padding-left:15px; padding-right:20px; background:url(../images/two_link_icon.png) no-repeat left; text-align:left; line-height:30px; font-family:"宋体"; font-size:12px;}
.two_link_1 a { color:#094ea1;}
.two_link_1 a:hover { color:#1d6ac8;}

.rjml_list_top { width:185px; height:30px; line-height:30px; color:#1258ad; font-size:14px; padding-left:27px; display:block; background:url(../images/rjml_list_top.png) repeat-y; padding-bottom:10px;}
.rjml_list { width:190px; height:200px; display:block; background:url(../images/rjml_list_bj.png) repeat-y; padding-left:22px; text-align:left; line-height:25px;}
.rjml_list a { height:25px; float:left; color:#333333;}
.rjml_list_up { width:212px; height:60px; display:block; background:url(../images/subnav_bj.png) repeat-y;}


.two_link1_1 { width:440px; height:24px; padding-left:15px; float:left; background:url(../images/two_link_icon.png) no-repeat left; text-align:left; line-height:24px; font-family:"宋体"; font-size:12px;}
.two_link1_1 a { color:#094ea1;}
.two_link1_1 a:hover { color:#1d6ac8;}

.jggl_tu { width:235px; height:120px;}
.jggl_bt { width:235px; height:40px; line-height:40px; font-size:16px; background:#edecec; text-align:center;}


.jxms_bt { width:223px; height:28px; line-height:28px; text-align:center; color:#ffffff; font-size:14px; background:rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important; filter:Alpha(opacity=40); background:#000000;}
.jxms_lis_1 { width:90px; height:30px; float:left; padding-left:10px; margin-left:12px; background:url(../images/two_link_icon.png) no-repeat left; text-align:left; line-height:30px; font-family:"宋体"; font-size:12px;}
.jxms_lis_1 a { color:#094ea1;}
.jxms_lis_1 a:hover { color:#1d6ac8;}


.fk_bt { background:url(../images/fk_bt_1.gif); width:481px; padding-left:15px; height:40px; line-height:40px; color:#03499d; font-size:16px;}
.fk_sbt { width:486px; padding-left:10px; height:30px; padding-top:15px; padding-bottom:5px; line-height:30px; color:#03499d; font-size:14px; }
.fk_sbt span { width:100px; padding-left:10px; height:30px; background:url(../images/fk_icon_1.gif) no-repeat left center; font-family:"宋体";}
.fk_lis { width:476px; padding-left:10px; padding-right:10px; line-height:24px; font-family:"宋体"; font-size:14px;}
.fk_lis a { width:108px; height:24px; padding-left:10px;  display:block; float:left; text-align:left; background:url(../images/fk_icon_2.gif) no-repeat left center; color:#666666;}

.ej_jj { color:#333333; line-height:24px; font-size:13px; font-family:"微软雅黑"}
.ej_jj p { color:#333333; line-height:24px;}


.con_top1 { width:1000px !important; height:220px;}
.con_up1 { width:915px;min-height:300px; height:auto !important; height:300px; overflow:hidden !important; overflow: visible; background:url(../images/con_up_bj.png) no-repeat; background-color:#ffffff; padding-top:20px; padding-left:45px; padding-right:40px;}
.con_up_pic { width:915px;min-height:500px; height:auto !important; height:500px; overflow:hidden !important; overflow: visible; background:url(../images/con_up_bj.png) no-repeat; background-color:#ffffff; padding-top:15px; padding-left:45px; padding-right:40px;}
.lis_tu { width:195px; height:160px; padding-left:12px; padding-right:16px; padding-bottom:20px; padding-top:10px; float:left;}


.contjs_l { width:212px; height:88px; padding-top:129px; float:left; line-height:91px; text-align:center; font-size:16px; color:#ffffff;}


.zhy1_lis { width:223px; min-height:172px; height:auto !important; height:172px; overflow:hidden !important; overflow: visible;   background:#edecec; float:left; margin-right:23px; margin-bottom:18px;}
.zhyb1_pic { width:223px; height:122px;}
.zgyb1_bt { width:213px; height:45px; padding-left:10px; line-height:40px; color:#333333; font-size:16px;}
.zgyb1_bt a { color:#1258ad;}
.zhyb1_lise { width:213px; height:20px; padding-left:10px; line-height:20px; color:#333333; font-size:12px;}
.zhyb1_lise a { color:#333;}
.zhyb1_lise a:hover { color:#666;}
.zhyb1_kon { width:213px; height:10px; padding-left:10px; line-height:20px; color:#333333; font-size:12px;}

.con_up a { color:#333333;}