@charset "utf-8";
*{ padding:0px; margin:0px;}
ul,li{ list-style-type:none; padding:0px; margin:0px;}
a{ TEXT-DECORATION: none; color:#ffffff; }

#MutiNav{ width:1045px; height:38px; line-height:33px; font-size:14px; font-family:"微软雅黑"; color:#FFFFFF; margin:0px auto;}
.multiUl{ width:1045px; height:38px; CLEAR: both; display:block;}
.multiUl li{ width:95px; height:38px; text-align:center; display:block; float:left; POSITION: relative;}
.multiUl li a.on { width:95px; height:38px; display:block; background:url(../images/ind_nav_on.png) no-repeat; color:#ffffff;}
.multiUl li a:hover { width:95px; height:38px; display:block; color:#ffde80;}

.multiUl li blockquote{ DISPLAY: none; Z-INDEX: 201; POSITION: absolute; TOP: 38px; HEIGHT: auto ; LEFT:0px; }
.multiUl li blockquote .ChildNavIn{ width:110px; height:auto; _left:50px; margin-left:-7px; _margin-left:-8px; line-height:33px; background:#1258ad; OVERFLOW: hidden; }
.multiUl LI blockquote .ChildNavIn a {width:110px; height:33px; display:block; line-height:33px; text-align:center; font-size:12px;}
.multiUl LI blockquote a {width:110px; height:33px; background:#1258ad; color:#ffde80;}
.multiUl LI blockquote .First,.multiUl LI blockquote a:hover {width:110px; height:33px; background:#e5c15a; color:#1258ad;}

