A.c54076{
font-size:9pt;
line-height:150%;
color:#333333;
text-decoration: none;}
A.c54076:link {
color: #222222;}  
A.c54076:visited {
color: #222222;}  
A.c54076:active {
color: #222222;}  
A.c54076:hover {
color: #cc0000;}
.c54076_date {
line-height: 150%;
font-size: 9pt;
text-decoration: none;}
.c54076_click {
font-size: 9pt;
color: #222222;
line-height: 150%;}
.c54076_leaderfont {
font-size: 9pt;
line-height: 150%;}
.c54076_columnstyle {
font-size: 9pt;
color: #222222;
text-decoration: none;}
.c54076_isnew {
font-size: 9pt;
color: #222222;
text-decoration: none;}